{{ define "chat" }}
    <div>
        <div id="chat-history">
        </div>
        <br>
        <form method="GET" id="inputForm">
            <div class="input-group">
                <input id="inputMessage" type="text" class="form-control" placeholder="Enter text here...">                                    
            </div>
        </form>
        <br>
    </div>
    <script src="/assets/js/ws.js"></script>
{{ end }}
